@page
@using Microsoft.AspNetCore.Mvc
@attribute [IgnoreAntiforgeryToken]
@using IFatec.Factories
@using IFatec

@{
    // Verifica se a requisição é uom POST (clique no botão de fazer pedido)
    bool pedidoRealizado = Request.Method == "POST";
    
    // Pega a escolha da URL para não perder a referência da fábrica
    string escolhaAtual = Request.Query["escolha"].ToString();
    
    // Pega o ingrediente digitado, caso o pedido tenha sido realizado
    string ingredienteForm = pedidoRealizado ? Request.Form["ingrediente"].ToString() : "";
    
    //verifica se queijo foi marcado
    bool addParmesao = pedidoRealizado && Request.Form["addParmesao"] == "true";

    IFatec.Cliente? meuCliente = null;

    if (escolhaAtual == "ita") {
        meuCliente = new Cliente(new FactoryItaliana());
    } 
    else if (escolhaAtual == "jap") {
        meuCliente = new Cliente(new FactoryJaponesa());
    }

    // Aplica a personalização SE o botão foi clicado
    if (pedidoRealizado && meuCliente != null) {
        
        // 1. Se marcou a caixa do queijo, aplica o DECORATOR
        if (addParmesao) {
            meuCliente.AdicionarExtraParmesao();
        }

        // 2. Retira o ingrediente (se o usuário digitou algum)
        meuCliente.PersonalizarPrato(ingredienteForm);
    }
}

<h1>Cardápio FatecFood</h1>

<a href="/Index?escolha=ita">Ver Menu Italiano</a> | 
<a href="/Index?escolha=jap">Ver Menu Japonês</a>

<hr />

@if (pedidoRealizado && meuCliente != null)
{
    <div>
        ✅ Pedido realizado com sucesso! A cozinha já está preparando.
    </div>
}

@if (meuCliente != null)
{
    <div>
        <h2>Resumo: @(escolhaAtual == "ita" ? "Pedido Italiano" : "Pedido Japonês")</h2>

        <h3>PRATO PRINCIPAL:</h3>
        <p>@meuCliente.BuscarDescricaoPratoPrincipal()</p>

        <h3>SOBREMESA:</h3>
        <p>@meuCliente.BuscarDescricaoSobremesa()</p>

        <h3>BEBIDA:</h3>
        <p>@meuCliente.BuscarDescricaoBebida()</p>

        @if (!pedidoRealizado)
        {
            <hr />
            
            <form method="post" action="/Index?escolha=@escolhaAtual">
                
                <div>
                    <input type="checkbox" name="addParmesao" value="true" id="parmesao" />
                    <label for="parmesao">🧀 Adicionar Queijo Parmesão Extra? (R$ 5,00)</label>
                </div>
                <br />

                <div>
                    <label>Deseja retirar algum ingrediente do prato principal?</label><br />
                    <input type="text" name="ingrediente" placeholder="Ex: Cebola..." />
                </div>
                <br />
                
                <button type="submit">Confirmar e Fazer Pedido</button>
            </form>


        }
    </div>
}
else
{
    <p>Clique em um dos links acima para iniciar seu pedido.</p>
}